.header {
    /* background-color: rgb(55, 51, 73); */
    position: absolute;
    top: -100px;
    width: 100vw;
    height: 65px;
    transition: top .5s ease-in-out;
    font-family: 'Potato';
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 15px;
}

.header nav {
    width: 100%;
}

.visible {
    top: 0;
    z-index: 999;
}

.header ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.header li a {
    font-size: 45px;
}

.header li a:hover {
    font-size: 85px;
}
