.start-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    font-family: 'Forta';
}

.start-section .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    width: 100vw;
    height: 100vh;
    padding: 5px;
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    transition: background 0.3s;
    font-size: calc(2vw + 2vh);
    border: 1px solid transparent;
}

.inicio {
    text-align: center;
    grid-column: span 1;
    font-size: 6vw;
}

.inicio:hover {
    background: url('../assets/images/fonts_bg/background1.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 10s;
}

.sobre {
    /* text-align: center; */
    grid-column: span 1;
    font-size: 12vw; 
}

.sobre:hover {
    background: url('../assets/images/fonts_bg/background2.jpg') center center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 10s;
}

.linha-tempo { 
    grid-row: span 1; 
    font-size: 4vw; 
    text-align: center;
}

.linha-tempo:hover {
    background: url('../assets/images/fonts_bg/background3.jpg') center center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 10s;
}

.resumo { 
    grid-row: span 1; 
    font-size: 9vw; 
}

.resumo:hover {
    background: url('../assets/images/fonts_bg/background4.jpg') center center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 10s;
}

.certificados {
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 4vw;
}

.certificados:hover {
    background: url('../assets/images/fonts_bg/background5.jpg') center center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 10s;
}

.habilidades {
    display: flex;
    justify-content: end;
    /* align-items: center; */
    grid-row: 2;
    grid-column: 1;
}

.habilidades:hover {
    background: url('../assets/images/fonts_bg/background6.jpg') center center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 10s;
}

.projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: span 2;
    font-size: 5vw;
}

.projetos:hover {
    background: url('../assets/images/fonts_bg/background7.jpg') center center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 10s;
}

.contato {
    display: flex;
    align-items: end;
    grid-row: span 2;
    font-size: 6vw;
}

.contato:hover {
    background: url('../assets/images/fonts_bg/background8.jpg') center center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 10s;
}

a:hover {
    /* border: 1px solid black; */
    -webkit-text-stroke-width: 1px;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    a {
        font-size: calc(3vw + 3vh);
    }
}